<section class="blog">
  <h1>Últimas publicaciones</h1>

  <div class="articles">
    <article *ngFor="let art of articles" class="article-card">
      <img [src]="art.image" [alt]="art.title" />
      <div class="content">
        <h2>{{ art.title }}</h2>
        <p class="date">{{ art.date | date:'longDate' }}</p>
        <p>{{ art.excerpt }}</p>

        <div class="actions">
          <button class="btn btn--primary" (click)="openArticle(art.id)">
            Leer más
          </button>
        </div>
      </div>
    </article>
  </div>
</section>
